<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="iuser">

	<select id="iuser_list"
		resultType="com.example.spring01.model.iuser.dto.IuserDTO">
		select * from iuser
	</select>

	<insert id="iuser_insert">
		insert into iuser(
		u_mail,u_password,u_namefirst,u_namelast,u_katafirst,u_katalast,u_gender,u_admin)
		values(
		#{u_mail},#{u_password},#{u_namefirst},#{u_namelast},#{u_katafirst},#{u_katalast},#{u_gender},#{u_admin}
		)
	</insert>

	<select id="iuser_modify"
		resultType="com.example.spring01.model.iuser.dto.IuserDTO">
		select * from iuser where u_no = #{u_no}
	</select>

	<update id="iuser_update">
		update iuser set
		u_mail = #{u_mail},
		u_password =
		#{u_password},
		u_namefirst = #{u_namefirst},
		u_namelast = #{u_namelast},
		u_katafirst = #{u_katafirst},
		u_katalast = #{u_katalast},
		u_gender =
		#{u_gender},
		u_admin = #{u_admin}
		where u_no = #{u_no}
	</update>

	<delete id="iuser_delete">
		delete from iuser where u_no = #{u_no}
	</delete>

	<select id="loginCheck" resultType="String">
		select u_namefirst from iuser
		where u_mail = #{u_mail} and u_password = #{u_password}
	</select>

</mapper>


